$color-white: #ffffff;
$color-grey: #f7fafc;
$color-orange: #fd712c;
$color-pink-1 :#f21780;
$color-black :#000000;
$color-black-medium :#222222;
$color-red :#d70404;
$color-grey-dark :#777777;
$color-black-light :#333333;
$color-white-2 :#eeeeee;
$color-grey-medium :#aaaaaa;
$color-pink-2 :#f31f79;

$font-size-normal: 1.6rem;